body {
  background: #fcfcfa;
}

.country {
  fill: #ddd;
}

.country:hover {
  fill: orange;
}

.text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

header h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  padding: 24px;
  padding-left: 48px;
}

header p {
  padding-left: 48px;
  padding-right: 48px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  color: gray;
}

mark {
  font-size: 16px;
}

strong {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.question {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  font-weight: bold;
  
}

.btn-group {
  padding-left: 48px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

#tooltip {
        position: absolute;
        width: 200px;
        height: auto;
        margin-top: 300px;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 20px;
}